

$whiteColor: #fff;
$corPrincipal: #000;
$corSecundaria: #080808;
$corTerciaria: #565959;
$cinzaMedio: #888C8C;
$cinzaClaro: #BDBFBF;

$textColor: #fff;
$textCorBlack: #000;
$textGolden: #A6916A;

$corBtnOrange: #A6916A;
$corBtnNuvem: #0099CC;
$corBtnSteam: #16538C;


$fontTitulo: "MedievalSharp", cursive;
$fontCorpo: "Poppins", sans-serif;